div(flex layout-padding).card-header
	h2.md-title Idiomas
form(name="idiomas" layout='column' layout-sm="column" layout-padding novalidate)

	div(flex layout='column' layout-gt-sm='row')
		div(flex-gt-sm="40")
			p(ng-show="vm.idiomas.length === 0") No se han registrado elementos.
			md-list(flex)
				md-list-item.md-3-line(ng-repeat="idioma in vm.idiomas | orderBy:'Nombre'")
					div.md-list-item-text
						h3
							span.sp {{vm.idiomasById[idioma.idIdioma][0].NombreIdioma}}
							span(ng-show="idioma.Materno") (Materno)
						h4 Redacción: {{idioma.NivelRedaccion}}
						h4 Conversación: {{idioma.NivelConversacion}}
						h4 Lectura: {{idioma.NivelLectura}}
						p Avalado por {{idioma.DocumentoAcredita}}
					md-menu
						md-button.md-icon-button(ng-click="$mdOpenMenu()")
							md-icon(md-menu-origin) more_vert
						md-menu-content(width="2")
							md-menu-item
								md-button(ng-click="vm.editIdioma(idioma)")
									md-icon(md-menu-align-target) mode_edit
									| Editar
							md-menu-item
								md-button(ng-click="vm.removeIdioma(idioma)")
									md-icon(md-menu-align-target) close
									| Eliminar
		div(flex-gt-sm="60")
			div(layout='column' layout-sm="column" flex)
				div(ng-show="!vm.listaIdiomasLoaded" layout-align="center center" flex)
					md-progress-circular(md-mode="indeterminate")
				md-select(flex name="idIdioma" placeholder="Selecciona si hablas otro idioma" ng-model="vm.idioma.idIdioma" required ng-show="vm.listaIdiomasLoaded" ng-disabled="vm.idioma.id !== undefiend")
					md-option(ng-repeat="i in vm.listaIdiomas" value="{{i.id}}") {{i.NombreIdioma}}
				div(layout-align="center center" layout="column")
					md-checkbox.md-primary(ng-model="vm.idioma.Materno" ng-true-value="1" ng-false-value="0" ng-init="vm.idioma.Materno = 0") Materno

	md-input-container(flex)
		label ¿Tienes alguna certificación? (Anota aquí)
		input(type="text" ng-model="vm.idioma.DocumentoAcredita" name="DocumentoAcredita" maxlength="45" )
	div(layout='column' flex)
		span En una escala del 1 al 10:

	div(layout='column' flex)
		div(flex="20" layout layout-align="center center")
			span.md-body-1 ¿Qué tan bien lo escribes?
		md-slider.md-primary(flex min="0" max="10" ng-model="vm.idioma.NivelRedaccion" ng-init="vm.idioma.NivelRedaccion = 5" step="1" aria-label="Nivel de Redacción")
		div(flex="20" layout layout-align="center center")
			span.md.body-1 {{vm.idioma.NivelRedaccion}}

	div(layout='column' flex)
		div(flex="20" layout layout-align="center center")
			span.md-body-1 ¿Qué tan bien lo hablas?
		md-slider.md-primary(flex min="0" max="10" ng-model="vm.idioma.NivelConversacion" ng-init="vm.idioma.NivelConversacion = 5" step="1" aria-label="Nivel de Conversación")
		div(flex="20" layout layout-align="center center")
			span.md.body-1 {{vm.idioma.NivelConversacion}}

	div(layout='column' flex)
		div(flex="20" layout layout-align="center center")
			span.md-body-1 ¿Qué tan bien lo lees?
		md-slider.md-primary(flex min="0" max="10" ng-model="vm.idioma.NivelLectura" ng-init="vm.idioma.NivelLectura = 5" step="1" aria-label="Nivel de Lectura")
		div(flex="20" layout layout-align="center center")
			span.md.body-1 {{vm.idioma.NivelLectura}}


	div(layout-padding layout layout-align="end center")
		md-button.md-primary(ng-click="vm.resetFormIdioma()") Nuevo Idioma
		md-button.md-primary.md-raised(ng-disabled="idiomas.$invalid" ng-click="vm.submitFormIdioma(idiomas.$valid)") Guardar
