//
   Created by lockonDaniel on 11/12/15.

h2 Este cuestionario tiene el propósito de conocer el perfil real de la fuerza de trabajo del SME en la actualidad. Es por ello que es importante que contestes todas las preguntas de manera veraz y objetiva. La información que nos proporciones es absolutamente confidencial y se usará para fines estadísticos y de actualización de nuestros afiliados.