
div(flex layout-padding).card-header
	h2.md-title Experiencia Laboral
form(name="Experiencia" layout layout-sm="column" layout-padding ng-submit="vm.submitFormExperiencia()" novalidate)

	div(layout="column" flex-gt-sm="40")
		//- div {{vm.areasByCampos[vm.experiencia.idCampoDeExperiencia] | json:2}}


		md-list(flex)
			md-list-item.md-3-line(ng-repeat="experiencia in vm.experienciaLaboral | orderBy:'-FechaTermino'")
				div.md-list-item-text
					h3 {{experiencia.NombreDelPuesto }}
					h4 {{experiencia.NombreInstitucion | limitTo:40}}{{experiencia.NombreInstitucion.length > 40 ? '...' : ''}}
					h4 {{vm.camposById[experiencia.idCampoDeExperiencia].Nombre |titleCase}} - {{vm.areasById[experiencia.idAreaDeExperiencia].Nombre  |titleCase}}
					p {{experiencia.FechaInicio | date:'yyyy'}} - {{experiencia.FechaTermino | date:'yyyy'}} 
				md-menu
					md-button.md-icon-button(ng-click="$mdOpenMenu()")
						md-icon(md-menu-origin) more_vert
					md-menu-content(width="2")
						md-menu-item
							md-button(ng-click="vm.editExperiencia(experiencia)")
								md-icon(md-menu-align-target) mode_edit
								| Editar
						md-menu-item
							md-button(ng-click="vm.removeExperiencia(experiencia)")
								md-icon(md-menu-align-target) close
								| Eliminar
			
	
	div(flex-gt-sm="60")
		
		div(flex layout layout-sm="column")
			md-select(flex name="CampoExperiencia" placeholder="Campo de Experiencia" ng-model="vm.experiencia.idCampoDeExperiencia" required)
				md-option(ng-repeat="campo in vm.camposById" value="{{campo.id}}") {{campo.Nombre |titleCase}}

			md-select(flex name="AreaExperiencia" placeholder="Área de Experiencia" ng-model="vm.experiencia.idAreaDeExperiencia" required ng-disabled="vm.areasByCampos[vm.experiencia.idCampoDeExperiencia].length === 0")
				md-option(ng-repeat="area in vm.areasByCampos[vm.experiencia.idCampoDeExperiencia]" value="{{area.id}}") {{area.Nombre |titleCase}}

			md-select(flex name="ExperienciaEspecifica" placeholder="Experiencia Específica" ng-model="vm.experiencia.idExperienciaEspecifica" required ng-disabled="vm.expByAreas[vm.areasByCampos[vm.experiencia.idCampoDeExperiencia][vm.experiencia.idAreaDeExperiencia].id].length === 0 || vm.areasByCampos[vm.experiencia.idCampoDeExperiencia].length === 0")
				md-option(ng-repeat="especifica in vm.expByAreas[vm.experiencia.idAreaDeExperiencia]" value="{{especifica.id}}") {{especifica.Nombre |titleCase}}

		md-input-container(flex)
			label Nombre de la Institución
			input(type="text" required name="NombreInstitucion"  ng-model="vm.experiencia.NombreInstitucion")

		div(flex layout layout-sm="column")
			md-input-container(flex)
				label Nombre del Puesto
				input(type="text" required name="NombreDelPuesto" ng-model="vm.experiencia.NombreDelPuesto")

			md-input-container(flex)
				label Jerarquía
				input(type="text" required name="Jerarquia" ng-model="vm.experiencia.Jerarquia")

		div(flex layout)
			md-input-container(flex)
				label Fecha de Inicio
				input(type="date" required name="FechaInicio" max="{{ vm.today | date:'yyyy-MM-dd'}}" ng-model="vm.experiencia.FechaInicio")

			md-input-container(flex)
				label Fecha de Término
				input(type="date" required name="FechaTermino" max="vm.experiencia.FechaInicio" ng-model="vm.experiencia.FechaTermino")

		div(flex layout layout-sm="column")
			md-input-container(flex)
				label Remuneración Bruta Mensual
				input(type="number" min="0" name="RemuneracionBrutaMensual" required ng-model="vm.experiencia.RemuneracionBrutaMensual")

			div(flex layout-align="center center")
				div(ng-show="!vm.locationsLoaded" layout-align="center center")
					md-progress-circular(md-mode="indeterminate")
				div(ng-show="vm.locationsLoaded")
					md-select(flex name="Entidad" placeholder="Entidad" ng-model="vm.experiencia.idEntidadFederativa" required)
						md-option(ng-repeat="state in vm.states" value="{{state.id}}") {{state.Nombre}}

		
		div(flex layout layout-sm="column")
			p Datos del Superior Inmediato

		div(flex layout layout-sm="column")
			md-input-container(flex)
				label Nombre
				input(type="text" ng-model="vm.experiencia.NombreSuperiorInmediato" name="NombreSuperiorInmediato")

			md-input-container(flex)
				label Apellido Paterno
				input(type="text" ng-model="vm.experiencia.ApellidoPSuperiorInmediato" name="ApellidoPSuperiorInmediato" )

			md-input-container(flex)
				label Apellido Materno
				input(type="text" ng-model="vm.experiencia.ApellidoMSuperiorInmediato" name="ApellidoMSuperiorInmediato")


		md-input-container(flex)
			label Teléfono a 10 dígitos (incluir código de área)
			input(type="text" name="TelefonoSuperiorInmediato" ng-model="vm.experiencia.TelefonoSuperiorInmediato" maxlength="10" ng-pattern="/[0-9]{10}/")


		//- md-input-container(flex)
		//- 	label Descripción
		//- 	textarea(ng-model="vm.newCert.description" maxlength="150" md-maxlength="150" rows="3")

		div(layout-padding layout layout-align="end center")
			md-button.md-primary(ng-click="vm.resetFormExperiencia()") Nueva Experiencia
			md-button.md-primary.md-raised(ng-click="vm.submitFormExperiencia(Experiencia.$valid)" ng-disabled="Experiencia.$invalid ") Guardar