
div(flex layout-padding).card-header
	h2.md-title Experiencia Laboral
form(name="Experiencia" layout layout-sm="column" layout-padding ng-submit="vm.submitFormExperiencia()" novalidate)

	div(layout="column" flex-gt-sm="35")
		//- div {{vm.areasByCampos[vm.experiencia.idCampoDeExperiencia] | json:2}}

		p(ng-show="vm.experienciaLaboral.length === 0") No se han registrado elementos.
		md-list(flex)
			md-list-item.md-3-line(ng-repeat="experiencia in vm.experienciaLaboral | orderBy:'-FechaTermino'" style="padding:10px 0px")
				div.md-list-item-text
					h3 {{experiencia.NombreDelPuesto }}
					h4 {{experiencia.NombreInstitucion | limitTo:40}}{{experiencia.NombreInstitucion.length > 40 ? '...' : ''}}
					h4 {{vm.camposById[experiencia.idCampoDeExperiencia].Nombre |cut:false:40:'...'}} - {{vm.areasById[experiencia.idAreaDeExperiencia].Nombre  |cut:false:40:'...'}}
					p {{experiencia.FechaInicio | date:'yyyy'}} - {{experiencia.FechaTermino | date:'yyyy'}} 
				md-menu
					md-button.md-icon-button(ng-click="$mdOpenMenu()")
						md-icon(md-menu-origin) more_vert
					md-menu-content(width="2")
						md-menu-item
							md-button(ng-click="vm.editExperiencia(experiencia)")
								md-icon(md-menu-align-target) mode_edit
								| Editar
						md-menu-item
							md-button(ng-click="vm.removeExperiencia(experiencia)")
								md-icon(md-menu-align-target) close
								| Eliminar
			
	
	div(flex-gt-sm="65")
		
		div(flex layout layout-sm="column")
			md-select(flex name="CampoExperiencia" placeholder="Campo de Experiencia" ng-model="vm.experiencia.idCampoDeExperiencia" required)
				md-option(ng-repeat="campo in vm.camposById" value="{{campo.id}}") {{campo.Nombre |cut:false:40:'...'}}

			md-select(flex name="AreaExperiencia" placeholder="Área de Experiencia" ng-model="vm.experiencia.idAreaDeExperiencia" required ng-disabled="vm.areasByCampos[vm.experiencia.idCampoDeExperiencia].length === 0")
				md-option(ng-repeat="area in vm.areasByCampos[vm.experiencia.idCampoDeExperiencia]" value="{{area.id}}") {{area.Nombre |cut:false:40:'...'}}

			md-select(flex name="ExperienciaEspecifica" placeholder="Experiencia Específica" ng-model="vm.experiencia.idExperienciaEspecifica" required ng-disabled="vm.expByAreas[vm.areasByCampos[vm.experiencia.idCampoDeExperiencia][vm.experiencia.idAreaDeExperiencia].id].length === 0 || vm.areasByCampos[vm.experiencia.idCampoDeExperiencia].length === 0")
				md-option(ng-repeat="especifica in vm.expByAreas[vm.experiencia.idAreaDeExperiencia]" value="{{especifica.id}}") {{especifica.Nombre |cut:false:40:'...'}}

		//div(flex layout layout-sm="column")
			md-select(flex name="Subdireccion" placeholder="Subdirección de LyF" ng-model="vm.experiencia.idSubdireccion" required)
				md-option(ng-repeat="subdireccion in vm.subdireccionesById" value="{{subdireccion.id}}") {{subdireccion.Nombre | cut:false:40:'...'}}
			md-select(flex name="Gerencia" placeholder="Gerencia de LyF" ng-model="vm.experiencia.idGerencia" required ng-disabled="vm.experiencia.idSubdireccion==null")
				md-option(ng-repeat="gerencia in vm.subdireccionesById[vm.experiencia.idSubdireccion].gerencia" value="{{gerencia.id}}") {{gerencia.Nombre | cut:false:40:'...'}}

		md-input-container(flex)
			label Nombre de la Institución
			input(type="text" required name="NombreInstitucion"  ng-model="vm.experiencia.NombreInstitucion" maxlength="80")

		div(flex layout layout-sm="column")
			md-input-container(flex)
				label Nombre del Puesto
				input(type="text" required name="NombreDelPuesto" ng-model="vm.experiencia.NombreDelPuesto" maxlength="80")

			md-input-container(flex)
				label Jerarquía
				input(type="text" required name="Jerarquia" ng-model="vm.experiencia.Jerarquia" maxlength="80")

		div(flex layout="row" layout-align="space-around center")
			div(layout="column")
				span Fecha de Inicio
				md-datepicker(placeholder="Inicio" ng-model="vm.experiencia.FechaInicio" md-max-date="vm.today" required name="FechaInicio" flex)
			div(layout="column")
				span Fecha de Inicio
				md-datepicker(placeholder="Término" md-min-date="vm.experiencia.FechaInicio"  md-max-date="vm.today" ng-model="vm.experiencia.FechaTermino" required name="FechaTermino" flex)

			//- pre {{vm.experiencia.FechaInicio | json:2}}

			//- md-input-container(flex)
			//- 	label Fecha de Inicio
			//- 	input(type="date" required name="FechaInicio" max="{{ vm.today | date:'yyyy-MM-dd'}}" ng-model="vm.experiencia.FechaInicio")

			//- md-input-container(flex)
			//- 	label Fecha de Término
			//- 	input(type="date" required name="FechaTermino" max="vm.experiencia.FechaInicio" ng-model="vm.experiencia.FechaTermino")

		div(flex layout layout-sm="column")
			//md-input-container(flex)
				label Remuneración Bruta Mensual
				input(type="number" min="0" name="RemuneracionBrutaMensual" required ng-model="vm.experiencia.RemuneracionBrutaMensual")

			div(flex layout-align="center center")
				div(ng-show="!vm.locationsLoaded" layout-align="center center")
					md-progress-circular(md-mode="indeterminate")
				div(ng-show="vm.locationsLoaded")
					md-select(flex name="Entidad" placeholder="Entidad" ng-model="vm.experiencia.idEntidadFederativa" required)
						md-option(ng-repeat="state in vm.states" value="{{state.id}}") {{state.Nombre}}

		div(layout flex)
			md-select(required placeholder="Tipo de Experiencia" name="TipoDeExperiencia" ng-model="vm.experiencia.TipoDeExperiencia" flex)
				md-option(value="Plaza") Plaza
				md-option(value="Honorarios") Honorarios
				md-option(value="Otro") Otro
				
		div(layout flex)
			md-input-container(flex)
				label Experiencias
				textarea(maxlength="100" md-maxlength="100" rows="3" ng-model="vm.experiencia.Experiencias" name="Experiencias" required)

		//div(flex layout layout-sm="column")
			p Datos del Superior Inmediato

		//div(flex layout layout-sm="column")
			md-input-container(flex)
				label Nombre
				input(type="text" ng-model="vm.experiencia.NombreSuperiorInmediato" name="NombreSuperiorInmediato" maxlength="80")

			md-input-container(flex)
				label Apellido Paterno
				input(type="text" ng-model="vm.experiencia.ApellidoPSuperiorInmediato" name="ApellidoPSuperiorInmediato"  maxlength="80")

			md-input-container(flex)
				label Apellido Materno
				input(type="text" ng-model="vm.experiencia.ApellidoMSuperiorInmediato" name="ApellidoMSuperiorInmediato" maxlength="80")

		//md-input-container(flex)
			label Teléfono a 10 dígitos (incluir código de área)
			input(type="text" name="TelefonoSuperiorInmediato" ng-model="vm.experiencia.TelefonoSuperiorInmediato" maxlength="10" ng-pattern="/[0-9]{10}/")


		//- md-input-container(flex)
		//- 	label Descripción
		//- 	textarea(ng-model="vm.newCert.description" maxlength="150" md-maxlength="150" rows="3")

		div(layout-padding layout layout-align="end center")
			md-button.md-primary(ng-click="vm.resetFormExperiencia()") Nueva Experiencia
			md-button.md-primary.md-raised(ng-click="vm.submitFormExperiencia(Experiencia.$valid)" ng-disabled="Experiencia.$invalid ") Guardar