//- h1.md-display-3 Datos Personales
div(layout-fill)
	div.full-height(layout layout-align="center center" ng-hide="vm.personalLoaded && vm.experienciaLoaded && vm.certLoaded && vm.logrosLoaded && vm.escolaridadLoaded")
		md-progress-circular(md-mode="indeterminate" )

	div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/info/personal.html' " ng-show="vm.personalLoaded" layout-margin)
	div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/info/escolaridad.html' " layout-margin ng-show="vm.escolaridadLoaded")
	div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/info/idiomas.html' " layout-margin ng-show="vm.idiomasLoaded")
	div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/info/experiencia.html' " ng-show="vm.experienciaLoaded" layout-margin)
	div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/info/certificaciones.html' " layout-margin ng-show="vm.certLoaded")
	div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/info/logros.html' " layout-margin ng-show="vm.logrosLoaded")


//- div.md-whiteframe-z2.card(layout="column" layout-margin)
