//- h1.md-display-3 Datos Personales

div.md-whiteframe-z2.card(layout="column" layout-margin ng-include=" 'app/info/personal.html' ")


//- div.md-whiteframe-z2.card(layout="column" layout-margin)
//- 	div(flex layout-padding).card-header
//- 		h2.md-title Formación Educativa
//- 	form(layout layout-sm="column" layout-padding)

//- 		md-list(flex)
//- 			md-list-item.md-3-line
//- 				div.md-list-item-text
//- 					h3 Doctorado - Ingeniería en Sistemas Computacionales
//- 					h4 Instituto Politécnico Nacional
//- 					p 1993 - 1995
		
//- 		div(flex)
//- 			md-select(placeholder="Nivel de Estudios" ng-model="vm.education.model.NivelDeEstudios" required)
//- 				md-option(value="6") Posgrado
//- 				md-option(value="5") Superior
//- 				md-option(value="4") Media Superior
//- 				md-option(value="3") Secundaria
//- 				md-option(value="2") Primaria
//- 				md-option(value="1") Jardín de Niños

//- 			div(layout)
//- 				md-input-container(flex)
//- 					label Fecha de Inicio
//- 					input(type="date" required)
//- 				md-input-container(flex)
//- 					label Fecha de Término
//- 					input(type="date" required)
			
//- 			md-select(placeholder="Institución Educativa" ng-model="vm.education.model.idInstitucionEducativa")
//- 				md-option IPN
			
//- 			md-input-container
//- 				label Carrera
//- 				input(type="text")
			
//- 			md-input-container
//- 				label Área de Estudios
//- 				input(type="text")

//- 			md-input-container
//- 				label Cédula Profesional
//- 				input(type="text")

//- 			md-checkbox.md-primary(ng-model="vm.education.model.complete") Nivel completado

//- 			div(layout-padding layout layout-align="end center")
//- 				md-button.md-primary.md-raised Agregar

//- div.md-whiteframe-z2.card(layout="column" layout-margin)
//- 	div(flex layout-padding).card-header
//- 		h2.md-title Certificaciones (0)
//- 	form(name="certificacion" layout layout-sm="column" layout-padding)
	
//- 		div(layout="column" flex)
//- 			md-list(flex)
//- 				md-list-item.md-3-line
//- 					div.md-list-item-text
//- 						h3 Nombre de la Certificación
//- 						h4 Institución Certificadora
//- 						p Tipo
		
//- 		div(flex)
//- 			md-input-container(flex)
//- 				label Nombre de la Certificación
//- 				input(type="text")

//- 			md-input-container(flex)
//- 				label Área de la Certificación
//- 				input(type="text")

//- 			md-input-container(flex)
//- 				label Tipo de Certificación
//- 				input(type="text")

//- 			md-input-container(flex)
//- 				label Institución Cetificadora
//- 				input(type="text")

//- 			md-input-container(flex)
//- 				label Descripción
//- 				textarea(ng-model="vm.newCert.description" maxlength="150" md-maxlength="150" rows="3")

//- 			div(layout-padding layout layout-align="end center")
//- 				md-button.md-primary.md-raised Agregar

//- div.md-whiteframe-z2.card(layout="column" layout-margin)
//- 	div(flex layout-padding).card-header
//- 		h2.md-title Experiencia Laboral
//- 	form(name="vm.experiencia" layout layout-sm="column" layout-padding ng-submit="vm.submitFormPersonal()")
	
//- 		div(layout="column" flex)
//- 			md-list(flex)
//- 				md-list-item.md-3-line
//- 					div.md-list-item-text
//- 						h3 Institución
//- 						h4 Nombre del Puesto
//- 						p 1990 - 1992
		
//- 		div(flex)
//- 			md-input-container(flex)
//- 				label Nombre de la Institución
//- 				input(type="text" required)

//- 			md-input-container(flex)
//- 				label Nombre del Puesto
//- 				input(type="text" required)

//- 			div(flex layout layout-sm="column")
//- 				md-input-container(flex)
//- 					label Fecha de Inicio
//- 					input(type="date" required)

//- 				md-input-container(flex)
//- 					label Fecha de Término
//- 					input(type="date" required max="{{ vm.today | date:'yyyy-MM-dd'}}")

//- 			md-input-container(flex)
//- 				label Campo de Experiencia
//- 				input(type="text" required)

//- 			md-input-container(flex)
//- 				label Área de Experiencia
//- 				input(type="text" required)

//- 			md-input-container(flex)
//- 				label Jerarquía
//- 				input(type="text" required)

//- 			md-input-container(flex)
//- 				label Remuneración Bruta Mensual
//- 				input(type="number" min="0")

//- 			md-input-container(flex)
//- 				label Descripción
//- 				textarea(ng-model="vm.newCert.description" maxlength="150" md-maxlength="150" rows="3")

//- 			div(layout-padding layout layout-align="end center")
//- 				md-button.md-primary.md-raised Agregar