div(flex layout-padding).card-header
	h2.md-title Logros
form(name="logro" layout layout-sm="column" layout-padding novalidate)

	div(layout="column" flex-gt-sm="40")
		md-list(flex)
			md-list-item.md-3-line(ng-repeat="logro in vm.logros | orderBy:'Nombre'")
				div.md-list-item-text
					h3 {{logro.Logro}} ({{logro.Fecha | date:'yyyy'}})
					h4 Avalado por {{logro.DocumentoAval}}
					p {{logro.Descripcion | limitTo:'40'}}{{logro.Descripcion.length > 40 ? '...' : ''}}
				md-menu
					md-button.md-icon-button(ng-click="$mdOpenMenu()")
						md-icon(md-menu-origin) more_vert
					md-menu-content(width="2")
						md-menu-item
							md-button(ng-click="vm.editLogro(logro)")
								md-icon(md-menu-align-target) mode_edit
								| Editar
						md-menu-item
							md-button(ng-click="vm.removeLogro(logro)")
								md-icon(md-menu-align-target) close
								| Eliminar
	
	div(flex-gt-sm="60")
		md-input-container(flex)
			label Logro
			input(type="text" ng-model="vm.logro.Logro" name="Logro" required)
		
		md-input-container(flex)
			label Documento que avala el logro
			input(type="text" ng-model="vm.logro.DocumentoAval" name="DocumentoAval" required)


		div(flex layout layout-sm="column")
			md-input-container(flex)
				label Fecha
				input(type="date" ng-model="vm.logro.Fecha" name="Fecha" required max="{{vm.today | date:'yyyy-MM-dd'}}")
			div(ng-show="!vm.locationsLoaded" layout-align="center center" flex)
				md-progress-circular(md-mode="indeterminate")
			md-select(flex name="Entidad" placeholder="Entidad" ng-model="vm.logro.idEntidadFederativa" required ng-show="vm.locationsLoaded")
				md-option(ng-repeat="state in vm.states" value="{{state.id}}") {{state.Nombre}}

		//- md-input-container(flex)
		//- 	label Institución Certificadora
		//- 	input(type="text" ng-model="vm.logro.InstitucionCertificadora" name="InstitucionCertificadora" required)

		md-input-container(flex)
			label Descripción
			textarea(maxlength="100" md-maxlength="100" rows="3" ng-model="vm.logro.Descripcion" name="Descripcion" required)

		div(layout-padding layout layout-align="end center")
			md-button.md-primary(ng-click="vm.resetFormLogro()") Nuevo Logro
			md-button.md-primary.md-raised(ng-disabled="logro.$invalid" ng-click="vm.submitFormLogro(logro.$valid)") Guardar
