//
   Created by lockonDaniel on 11/10/15.
form(name='condicionesRegreso')
   h2 25. Con cuál de las siguientes frases estás más de acuerdo: Durante los cuatro años de resistencia...
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="25" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioFrasesResistencia")
   h2 26. ¿Participaste en alguna actividad destacada del movimiento de resistencia?
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="26" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioResistencia")
   h2 27. ¿Ocupas o has ocupado un cargo sindical?
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="27" default="9" array-number="vm.arrayNumber.cargoSindical" ng-model="vm.encuesta.preguntas" options="vm.radioResistencia")
   div(ng-show="vm.encuesta.preguntas[vm.arrayNumber.cargoSindical].value==1")
      h2 28. Si tu respuesta fue Sí, ¿Especifica el cargo y periodo de permanencia?
      questions-input(type="text" id-pregunta="28a" ng-model="vm.encuesta.preguntas" label="Escribe el Cargo aquí")
      questions-input(type="text" id-pregunta="28b" ng-model="vm.encuesta.preguntas" label="Escribe la permanencia en años aquí (número)")
   h2 29. ¿En este momento, tienes disposición para regresar a trabajar en el sector eléctrico? (Si: Pasa a pregunta 30. No: Pasa a Pregunta 34)
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="29" default="9" ng-model="vm.encuesta.preguntas" array-number="vm.arrayNumber.disposicionRegresar" options="vm.radioGeneral")
   div(ng-show="vm.encuesta.preguntas[vm.arrayNumber.disposicionRegresar].value==1")
      h2 30. Si tu respuesta fue Sí. ¿En que área del sector eléctrico crees que podrías tener un mejor desempeño?
      questions-input(type="text" id-pregunta="30" ng-model="vm.encuesta.preguntas" label="Escribe el Área aquí")
      h2 31 Si tu respuesta fue Sí. ¿Crees que debes actualizar tus conocimientos, habilidades y aptitudes en el área de tu desempeño laboral?
      div(layout="row" layout-align="center center")
         questions-radio(id-pregunta="31" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioResistencia")
      h2 32 Si tu respuesta fue Sí. ¿Estarías dispuesto a tomar la capacitación necesaria para actualizarte?
      div(layout="row" layout-align="center center")
         questions-radio(id-pregunta="32" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioResistencia")
      h2 33 Si tu respuesta fue Sí. De lograr tu reinserción al sector eléctrico, ¿Cuál sería tu prioridad?
      div(layout="row" layout-align="center center")
         questions-radio(id-pregunta="33" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioPrioridad")
   div(ng-show="vm.encuesta.preguntas[vm.arrayNumber.disposicionRegresar].value==2")
      h2 34 Si tu respuesta fue No. Menciona la razón por la cual no regresarías a laborar en el sector eléctrico
         div(layout-align="center center")
         questions-radio(id-pregunta="34" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioNoRegreso" align="column")
   div(layout-padding layout layout-align="end center")
      md-button.md-primary.md-raised(ng-disabled="condicionesRegreso.$invalid" ng-click="vm.submitForm(condicionesRegreso.$valid)") Guardar
