//
   Created by lockonDaniel on 11/8/15.
form(name="consecuencias")
   span {{vm.encuesta.preguntas}}
   h2 9. ¿Durante estos cuatro años de resistencia tomaste alguna capacitación relacionada laboralmente a las actividades que realizabas en la Compañía de Luz y Fuerza del Centro?
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="9" default="9" ng-model="vm.encuesta.preguntas" options="vm.radioGeneral")
   h2 10.	De las siguientes actividades, ¿cuál o cuáles has realizado principalmente durante estos cuatro años de resistencia?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.actividadesResistencia.items" options="vm.actividadesResistencia.options")
   h2 11. ¿Si estuviste desempleado durante estos últimos cuatro años de resistencia, que otra actividad realizaste?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.otrasActividades.items" options="vm.otrasActividades.options")
   h2 12. Durante el año 2015, ¿trabajaste o tuviste una actividad remunerada, con salario, ganancia o beneficio económico? (Si: Pasa a pregunta 13, No: Pasa a pregunta 14)
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="12" array-number="vm.arrayNumber.actividad"  ng-model="vm.encuesta.preguntas" default="9" options="vm.radioGeneral")
   div(ng-show="vm.encuesta.preguntas[vm.arrayNumber.actividad].value==1")
      h2 13. Si tu respuesta fue Sí. ¿Durante cuánto tiempo lo has venido realizando? (En meses)
      questions-input(type="number" id-pregunta="13" ng-model="vm.encuesta.preguntas" label="Tiempo en meses")
   h2 14. ¿Durante este tiempo de resistencia recibiste algún tipo de ayuda económica de: …?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.ayudaEconomica.items" options="vm.ayudaEconomica.options")
   h2 15. ¿A la extinción de la empresa, participaste en:…?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.participacionOrganizacion.items" options="vm.participacionOrganizacion.options")
   h2 16. ¿Actualmente participas en alguna organización política, social o ciudadana?
   div(layout="row" layout-align="center center")
      questions-radio(id-pregunta="16" default="9" array-number="vm.arrayNumber.participacionPolitica" ng-model="vm.encuesta.preguntas" options="vm.radioGeneral")
   div(ng-show="vm.encuesta.preguntas[vm.arrayNumber.participacionPolitica].value==1")
      h2 17. Si tu respuesta fue Sí. ¿En qué organización?
      questions-input(type="text" id-pregunta="17" ng-model="vm.encuesta.preguntas" label="Anota Aquí la Organización")
   h2 18. ¿De qué manera impactó la extinción de la Compañía de Luz y Fuerza del Centro en tu economía familiar?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.impactoEconomia.items" options="vm.impactoEconomia.options")
   h2 19. Enfermedades físicas y de salud:
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.enfermedades.items" options="vm.enfermedades.options")
   h2 20. Y en cuanto a enfermedades emocionales:
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.enfermedadesEmocionales.items" options="vm.enfermedadesEmocionales.options")
   h2 21. Provocó adicciones como:
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.adicciones.items" options="vm.adicciones.options")
   h2 22. Provocó consecuencias como:
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.consecuencias.items" options="vm.consecuencias.options")
   h2 23. ¿De que manera impactó la extinción de la Compañía de Luz y Fuerza del Centro en la integración familiar?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.integracionFamiliar.items" options="vm.integracionFamiliar.options")
   h2 24. ¿De que manera impactó la extinción de la Compañía de Luz y Fuerza del Centro en tus relaciones sociales y laborales?
   questions-table(ng-model="vm.encuesta.preguntas" items="vm.relacionesSociales.items" options="vm.relacionesSociales.options")
      div(layout="row" layout-align="center center")
         md-button.md-primary.md-raised Guardar
   div(layout-padding layout layout-align="end center")
      md-button.md-primary.md-raised(ng-disabled="consecuencias.$invalid" ng-click="vm.submitForm(consecuencias.$valid)") Guardar

