div(layout-fill layour-margin)
    div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/encuesta/trabajo.html' " ng-controller="TrabajoController as vm" layout-margin)
    div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/encuesta/consecuencias.html' " ng-controller="ConsecuenciasController as vm" layout-margin)
    div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/encuesta/condicionesRegreso.html' " ng-controller="CondicionesRegresoController as vm" layout-margin)
    div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/encuesta/proyectos.html' " ng-controller="ProyectosController as vm" layout-margin layout-padding)
    div.md-whiteframe-z2.card(layout="column" ng-include=" 'app/encuesta/socioeconomico.html' " ng-controller="SocioeconomicoController as vm" layout-margin layout-padding)


