//- h1.md-display-3 Datos Personales
div(layout-fill layout-margin)
    div.md-whiteframe-z2.card( layout="column" ng-include=" 'app/encuesta/proposito.html' " layout-margin)
    div.md-whiteframe-z2.card(ng-show="encuesta.nivel==0" layout="column" ng-include=" 'app/encuesta/trabajo.html' " ng-controller="TrabajoController as vm" layout-margin)
    div.md-whiteframe-z2.card(ng-show="encuesta.nivel==1" layout="column" ng-include=" 'app/encuesta/consecuencias.html' " ng-controller="ConsecuenciasController as vm" layout-margin)
    div.md-whiteframe-z2.card(ng-show="encuesta.nivel==2" layout="column" ng-include=" 'app/encuesta/condicionesRegreso.html' " ng-controller="CondicionesRegresoController as vm" layout-margin)
    div.md-whiteframe-z2.card(ng-show="encuesta.nivel==3" layout="column" ng-include=" 'app/encuesta/proyectos.html' " ng-controller="ProyectosController as vm" layout-margin layout-padding)
    div.md-whiteframe-z2.card(ng-show="encuesta.nivel==4" layout="column" ng-include=" 'app/encuesta/socioeconomico.html' " ng-controller="SocioeconomicoController as vm" layout-margin layout-padding)


