//- h1.md-display-3 Datos Personales
div(layout-fill layout-margin)
    div.md-whiteframe-z2.card( layout="column" ng-include=" 'app/encuesta/proposito.html' " layout-margin)
    div.md-whiteframe-z2.card(layout="column" layout-margin)
        div(ui-view)