h2 38. ¿Conoces los proyectos del Sindicato Mexicano de Electricistas (SME)?
 

h2 39. ¿Participas en alguno de ellos? 

div(ng-show="vm.proyectos.q39 === 1")
	h2 40. Si tu respuesta fue Sí. En que actividades con organizaciones de usuarios has participado: 


h2 41. ¿Estás afiliado a la OPT?

h2 42. En una escala del 1 al 10, donde 1 es que son nulas posibilidades de solución y 10 son muchas las posibilidades de solución, ¿cómo calificaría la posibilidad de lograr soluciones con las acciones emprendidas por el Sindicato Mexicano de Electricistas? 

h2 43. De entre las siguientes acciones, ¿cuáles consideras necesarias para que el gobierno resuelva la reinserción de los trabajadores del Sindicato Mexicano de Electricistas (SME)?

h2 44. ¿Qué tanto te enteras de lo que ocurre en tu organización sindical, a través de…: mucho, algo, poco o nada?

h2 45. ¿Acostumbras a leer el periódico?

div(ng-show="vm.proyectos.q45 === 1")
	h2 46. Si tu respuesta fue Sí. ¿Cuál es la sección que más acostumbras a leer en el periódico? 

h2 47. ¿Acostumbras a leer revistas?

div(ng-show="vm.proyectos.q47 === 1")
	h2 48. Si tu respuesta fue Sí. ¿Qué tipo de revista acostumbra leer?

h2 49. ¿Utilizas regularmente Internet?

h2 50. ¿Eres derechohabiente de algún servicio de salud?

div(ng-show="vm.proyectos.q50 ===  1")
	h2 51. Si tu respuesta fue Sí. ¿Quién le proporciona la atención?


