h2 37. ¿Conoces los proyectos del Sindicato Mexicano de Electricistas (SME)?
questions-table(ng-model="vm.q38" items="vm.q38Data.items" options="vm.q38Data.options")
h2 39. ¿Participas en alguno de ellos?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q39" options="vm.radioGeneral")
div(ng-show="vm.q39.value === 1")
    h2 39. Si tu respuesta fue Sí. En que actividades con organizaciones de usuarios has participado:
    questions-table(ng-model="vm.q40" items="vm.q40Data.items" options="vm.q40Data.options")
h2 40. ¿Estás afiliado a la OPT?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q40" options="vm.radioGeneral")
h2 41. En una escala del 1 al 10, donde 1 es que son nulas posibilidades de solución y 10 son muchas las posibilidades de solución, ¿cómo calificaría la posibilidad de lograr soluciones con las acciones emprendidas por el Sindicato Mexicano de Electricistas?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q42" options="vm.q42Options" wrap="true")
h2 42. De entre las siguientes acciones, ¿cuáles consideras necesarias para que el gobierno resuelva la reinserción de los trabajadores del Sindicato Mexicano de Electricistas (SME)?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q43" options="vm.q43Options")
h2 43. ¿Qué tanto te enteras de lo que ocurre en tu organización sindical, a través de…: mucho, algo, poco o nada?
questions-table(ng-model="vm.q44" items="vm.q44Data.items" options="vm.q44Data.options")
h2 44. ¿Acostumbras a leer el periódico?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q45" options="vm.radioGeneral")
div(ng-show="vm.q45.value === 1")
    h2 45. Si tu respuesta fue Sí. ¿Cuál es la sección que más acostumbras a leer en el periódico?
    div(layout="row" layout-align="center center")
        questions-radio(ng-model="vm.q46" options="vm.q46Options")
h2 46. ¿Acostumbras a leer revistas?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q47" options="vm.radioGeneral")
div(ng-show="vm.q47.value === 1")
    h2 47. Si tu respuesta fue Sí. ¿Qué tipo de revista acostumbra leer?
    div(layout="row" layout-align="center center")
        questions-radio(ng-model="vm.q48" options="vm.q48Options")
h2 48. ¿Utilizas regularmente Internet?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q49" options="vm.radioGeneral")
h2 49. ¿Eres derechohabiente de algún servicio de salud?
div(layout="row" layout-align="center center")
    questions-radio(ng-model="vm.q50" options="vm.radioGeneral")
div(ng-show="vm.q50.value ===  1")
    h2 51. Si tu respuesta fue Sí. ¿Quién le proporciona la atención?
    div(layout="row" layout-align="center center")
        questions-radio(ng-model="vm.q51" options="vm.q51Options")