//
   Created by lockonDaniel on 11/20/15.

div.md-whiteframe-z2.card(layout="column" layout-fill layout-margin)
   h2 Presionando el bot칩n se reiniciar치n las preguntas del censo, recuerda que todas tus respuestas ser치n eliminadas y deber치s contestar toda le encuesta de nuevo.
   div(layout-padding layout layout-align="center end")
      md-button.md-primary.md-raised(ng-click="vm.reset()") Reiniciar las preguntas.