div(layout="column" layout-align="center" )
	div.md-whiteframe-z1.card(layout-padding)
		div(layout-align="center center" flex layout="column")
			h1.md-display-2 Bienvenido al Sistema de Registro de Cooperativistas!
			img(src="assets/images/logo.jpg")
			md-button.md-raised.md-primary(ui-sref="infoPersonal") Ir al Registro
