div(style="background-color:#eee;min-height:100vh")
	div.container(flex layout="column" layout-align="start center" style="min-height:100vh" layout-margin)
		div.md-whiteframe-z2.card.card-md(layout="column" layout-align="center" ng-if="!home.showSignup")
			div.primary-bg(flex layout="row" layout-align="space-around center" layout-padding )
				h1.md-headline Iniciar Sesión
				img(src="assets/images/logo.png" height="70px")
			div(flex layout='column')
				form(name="loginForm" layout='column' layout-padding)
					md-input-container
						label Usuario
						input(type="text" required name="Usuario" ng-model="home.model.username" minlength="4")
					md-input-container
						label Contraseña
						input(type="password" required name="password" ng-model="home.model.password" minlength="4")
					div(layout='row' layout-align="center")
						md-button.md-primary.md-raised(ng-disabled="loginForm.$invalid" ng-click="home.submit(loginForm.$valid)" ng-show="!home.attemptingLogin")
							span Iniciar sesión
						div(ng-show="home.attemptingLogin"
							layout="column" layout-align="center center")
							md-progress-circular(md-mode="indeterminate")
		div(layout='row' layout-align="center" ng-show="!home.showSignup")
			md-button.md-primary(ng-click="home.showSignup = true") Regístrate
		div(layout="column" layout-align="center center")
			//md-button.md-primary.md-raised(ng-click="home.showAlert($event)") Consulta el manual de usuario
			div(layout="row")
			h1.md-headline Se recomienda NO utilizar Internet Explorer para visualizar éste sitio.
			a(href="https://www.google.es/chrome/browser/desktop/index.html") Descarga Google Chrome® Aquí.
		div.md-whiteframe-z2.card.card-md(layout="column" layout-align="center"  ng-if="home.showSignup")
			div.primary-bg(flex layout="row" layout-align="space-around center" layout-padding )
				h1.md-headline Registrar un usuario
				img(src="assets/images/logo.png" height="70px")
			div(flex layout-padding )
				h2 Ingresa los datos que se piden
				form(name="validateDataForm")
					md-input-container
						label Introduce tu número de Credencial
						input(type="text" required name="Usuario" ng-model="home.signupModel.id")
					md-input-container
						label Clave
						input(type="text" required name="Usuario" ng-model="home.signupModel.hash")
					div(layout layout-align="center")
							md-button.md-primary.md-raised(ng-disabled="validateDataForm.$invalid" ng-click="home.validateHash(validateDataForm.$valid)") Validar datos
				div(ng-show="home.isHashValid")
					h3 Ingresa tus nuevos datos de usuario. Recuerda que estos serán los datos con los que ingreses al sistema
					form(name="signupForm")
						md-input-container
							label Introduce tu nuevo usuario
							input(type="text" required name="Usuario" ng-model="home.signupModel.username")
						md-input-container
							label Genera tu nueva contraseña
							input(type="password" required name="password" ng-model="home.signupModel.password")
						div(layout-align="center")
							md-button.md-primary.md-raised(ng-disabled="loginForm.$invalid" ng-click="home.signupSubmit(signupForm.$valid)") Registrar
							h1.md-headline Se recomienda utilizar Google Chrome para utilizar éste sitio