section(layout="row" flex)
	//- .md-whiteframe-z2
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left' md-is-locked-open="$mdMedia('gt-md')")

		md-toolbar.md-primary.md-tall(layout="column" layout-align="center center")
			img(height="80%" src="assets/images/logo.png")
			h1.md-toolbar-tools {{sidebar.user.username}}

		div(flex ss-style-color="{'background-color': 'primary.default'}")
			md-content(flex ng-controller="SidebarController as sidebar")
				ss-sidenav(menu='sidebar.menu')
	md-content(flex)
		md-toolbar.md-whiteframe-z3(ng-controller="BaseController as base" layout-align="center center")
			div.md-toolbar-tools
				span(hide-gt-md)
					md-button.md-icon-button(ng-click="base.toggle()")
						md-icon menu
				span {{base.$state.current.data.displayName}}
				span(flex)
				
		md-content.main-panel
			div.container(layout="column" layout-fill layout-align="top center" ui-view layout-padding)
		