section(layout="row" flex style="max-height:100vh")
	//- .md-whiteframe-z2
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left' md-is-locked-open="$mdMedia('gt-md')")
		md-content(ng-controller="SidebarController as sidebar")
			md-toolbar.md-primary.md-tall(layout="column" layout-align="center center" )
				//- img(src="assets/images/logo.jpg")

				h1.md-toolbar-tools {{sidebar.user}}

			md-list
				md-list-item(ng-click="sidebar.$state.go('dashboard')")
					md-button.md-icon-button
						md-icon dashboard
					span Menú principal
				md-list-item(ng-click="sidebar.$state.go('infoPersonal')")
					md-button.md-icon-button
						md-icon dashboard
					span Datos Personales
				//- md-list-item(ng-click="sidebar.$state.go('education')")
				//- 	md-button.md-icon-button
				//- 		md-icon dashboard
				//- 	span Formación Educativa
				//- md-list-item(ng-click="sidebar.$state.go('work')")
				//- 	md-button.md-icon-button
				//- 		md-icon dashboard
				//- 	span Experiencia Laboral
				//- md-list-item(ng-click="sidebar.$state.go('languages')")
				//- 	md-button.md-icon-button
				//- 		md-icon dashboard
				//- 	span Idiomas
				//- md-list-item(ng-click="sidebar.$state.go('certfications')")
				//- 	md-button.md-icon-button
				//- 		md-icon dashboard
				//- 	span Certificaciones


	
	md-content(flex)
		md-toolbar.md-whiteframe-z3(ng-controller="BaseController as base" layout-align="center center" style="position:fixed")
			div.md-toolbar-tools
				span(hide-gt-md)
					md-button.md-icon-button(ng-click="base.toggle()")
						md-icon menu
				span {{base.stateNames[base.$state.current.name]}}
				span(flex)
				
		md-content.main-panel
			div.container(layout="column" layout-fill layout-align="top center" ui-view)
		