section(layout="row" flex)
	//- .md-whiteframe-z2
	md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id='left' md-is-locked-open="$mdMedia('gt-md')")
		md-content(ng-controller="SidebarController as sidebar" )
			md-toolbar.md-primary.md-tall(layout="column" layout-align="center center" )
				img(height="80%" src="assets/images/logo.png")
				h1.md-toolbar-tools {{sidebar.user.username}}

			md-list(ng-swipe-left="sidebar.close()")
				md-list-item(ng-click="sidebar.$state.go('dashboard')")
					md-button.md-icon-button(ng-class="{'md-primary': sidebar.$state.current.name === 'dashboard' }")
						md-icon dashboard
					span Menú principal
				md-list-item(ng-click="sidebar.$state.go('infoPersonal')")
					md-button.md-icon-button(ng-class="{'md-primary': sidebar.$state.current.name === 'infoPersonal' }")
						md-icon perm_contact_cal
					span Datos Personales
				md-list-item(ng-click="sidebar.$state.go('encuesta')")
					md-button.md-icon-button(ng-class="{'md-primary': sidebar.$state.current.name === 'encuesta' }")
						md-icon assignment
					span Censo
				md-list-item(ng-click="sidebar.$state.go('stats')" ng-if="!sidebar.isUser")
					md-button.md-icon-button(ng-class="{'md-primary': sidebar.$state.current.name === 'stats' }")
						md-icon insert_chart
					span Estadísticas
				md-list-item(ng-click="sidebar.$state.go('logout')")
					md-button.md-icon-button
						md-icon exit_to_app
					span Cerrar Sesión
	
	md-content(flex)
		md-toolbar.md-whiteframe-z3(ng-controller="BaseController as base" layout-align="center center")
			div.md-toolbar-tools
				span(hide-gt-md)
					md-button.md-icon-button(ng-click="base.toggle()")
						md-icon menu
				span {{base.stateNames[base.$state.current.name]}}
				span(flex)
				
		md-content.main-panel
			div.container(layout="column" layout-fill layout-align="top center" ui-view layout-padding)
		